.btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    background-color: none !important;
    border-color: #f0ad4e;
    color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 0;
    background-color: #ff8a00;
    font-size: 18px;
    line-height: 1.33;
    background-image: none !important;
    margin-left: 0.5vw;
  }
  .btn btn-group:hover
  {
      color: white;    
  }

  button:focus {outline: 0;}
  .btn
  {
    color: #ffffff;
  }
  .btn:hover {
    outline: 0;
    background-color: transparent !important;
    color: white;
  }


  .navbar.navbar-default >.container{
    margin-left : 0px;
    margin-right: 0px;
    max-width: 1800px;
 }

  .btn {
    height:40px;
    width:120px;
    /* color: white; */
  }
  
  .btn:hover{
    background-color: #0067db !important;
    color: white;
  }

  .dropdown-item:hover{
    background-color: #0067db !important;
    color: white;
  }

  #white{
    color: white !important;
  }
.dropdown-toggle{
    width: 10px;
    /* color: white; */
}
.logo-img
{
  width: 25vw;
}
